.product {
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(177, 177, 177); */
    width: 240px;
    gap: 10px;
    padding: 10px;
    box-shadow: 1px 3px 10px rgb(197, 197, 197);
    justify-items: center;
    height: 460px;
    border-radius: 10px;
    background-color: #fff;
}

.product > span {
    text-align: center;
}

.price-weight {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 5px;
}

span.name {
    font-size: 24px;
    color: #353535;
}

span.price {
    font-size: 20px;
}

span.weight {
    font-size: 14px;
    color: #353535;
}

.description {
    text-align: center;
    font-size: 14px;
    color: #797979;
    flex: 1 1 auto;
}

.cart-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 36px;
    gap: 3px;
}

.cart-actions > button {
    width: 36px;
    background-color: #a93cd4;
    outline: none;
    border: none;
    font-size: 20px;
    color: white;
    transition: all .2s ease-in-out;
    cursor: pointer;
    border-radius: 4px;
}

.cart-actions > button:hover {
    background-color: rgb(255, 186, 38);
}

.cart-actions > input {
    width: 60px;
    flex: 1 1 auto;
    text-align: center;
}

.add-to-cart {
    display: flex;
    justify-content: center;
}

.add-to-cart > a {
    width: 100%;
    background-color: #a93cd4;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    height: 40px;
    text-align: center;
}

.add-to-cart > a:hover {
    background-color: rgb(255, 186, 38);
}
