<div class="product">
    <img [src]="inputProduct.imgUrl" alt="">
    <span class="name">{{ inputProduct.name }}</span>
    <div class="price-weight">
        <span class="price">{{ inputProduct.price }} р.</span>
        <span class="weight">{{ inputProduct.weight }} г.</span>
    </div>
    <div class="description">
        {{ inputProduct.description }}
    </div>
    <div class="cart-actions">
        <button (click)="increaseQuantity()">+</button>
        <input type="number" [value]="quantity">
        <button (click)="decreaseQuantity()">-</button>
    </div>
    <div class="add-to-cart">
        <a href="#" (click)="addToCart()">Добавить в корзину</a>
    </div>
</div>
