<div class="product">
    <img src="https://i.imgur.com/gsyYw6n.jpeg" alt="">
    <span class="name">Кесадилья</span>
    <div class="price-weight">
        <span class="price">450 р.</span>
        <span class="weight">360 г.</span>
    </div>
    <div class="description">
        Нежная кесадилья с перцом халапеньо в хрустящей тапе
    </div>
    <div class="cart-actions">
        <button>+</button>
        <input type="number">
        <button>-</button>
    </div>
    <div class="add-to-cart">
        <a href="#">Добавить в корзину</a>
    </div>
</div>
