<header>
    <div class="header__container">
        <div class="logoWrapper">

        </div>
        <nav class="header__navigation">
            <div class="nav-item">
                Меню
            </div>
            <div class="nav-item">
                Акции
            </div>
            <div class="nav-item">
                О доставке
            </div>
        </nav>

        <div class="telWrapper">+7 (925) 670-90-44</div>
        <div class="cartWrapper"></div>
    </div>
</header>
