<header>
    <div class="header__container">
        <div class="logoWrapper">
            <a href="#">
                <img [src]="imgSrc" alt="">
            </a>
            <a href="#">tacoExtremal</a>
        </div>
        <nav class="header__navigation">
            <div class="nav-item">
                <a href="#">Меню</a>
            </div>
            <div class="nav-item">
                <a href="#">Акции</a>
            </div>
            <div class="nav-item">
                <a href="#">О доставке</a>
            </div>
        </nav>

        <div class="telWrapper">
            <a href="#">+7 (925) 670-90-44</a>
        </div>
        <div class="cartWrapper"></div>
    </div>
</header>
