<img class="bg-item taco" [src]="taco" alt="">
<img class="bg-item hombre" [src]="hombre" alt="">
<img class="bg-item burrito" [src]="burrito" alt="">
<img class="bg-item nachos" [src]="nachos" alt="">
<img class="bg-item mescalina" [src]="mescalina" alt="">
<section>
    <div class="container">
        <h2>Товары:</h2>
    </div>
    <div class="products-container">
        <app-product-item *ngFor="let product of products$ | async as list" [inputProduct]="product"></app-product-item>
    </div>
    <img src="blob:https://imgur.com/af770be1-3fd1-4457-9ad9-0224f3478bef" alt="">
</section>
