/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif;
    overflow-x: hidden;
}

body * {
    box-sizing: inherit;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}